.overlay {
  background: var(--background-overlay);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.levelUpModalContainer {
  background: var(--white);
  max-width: 400px;
  width: 100%;
  padding: 4.8rem 5rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  text-align: center;
  position: relative;
}

.levelUpModalContainer header {
  font-size: 14rem;
  font-weight: 600;
  color: var(--blue-primary);
  background: url('/icons/levelup.svg') no-repeat center;
}

.levelUpModalContainer strong {
  font-size: 3rem;
  font-weight: 600;
  color: var(--titles);
}

.levelUpModalContainer p {
  font-size: 2rem;
}

.closeModal {
  border: 0;
  font-size: 0;
  background: transparent;

  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

@media(max-width: 700px) {
  .levelUpModalContainer {
    margin: 0 2rem;
  }
}

/* .levelUpModalContainer button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;
  margin-top: 3.2rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--blue-twitter);
  color: var(--white);

  transition: filter 0.2s ease-in-out;
}

.levelUpModalContainer button:hover {
  filter: brightness(0.8);
}

.levelUpModalContainer button img {
  margin-left: 1.6rem;
} */


